<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">選單</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-href="#/app/dashboard">
          即時資訊
        </ion-item>
        <ion-item menu-close ng-href="#/app/station">
          附近捐血點
        </ion-item>
        <ion-item menu-close ng-href="#/app/notification">
          缺血提醒
        </ion-item>
        <ion-item menu-close ng-href="#/app/report">
          捐血紀錄
        </ion-item>
        <ion-item menu-close ng-href="#/app/badge">
          我的徽章
        </ion-item>
        <ion-item menu-close ng-href="#/app/about">
          關於治癒之術
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
